/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F0F8FF;
  margin: 0px;
}

#wrapper {
  background-color: white;
  max-width: 900px;
  margin: 2.5em auto;
}

.logo_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: auto;;
  height: 200px;
}

.logos {
  background-color: red;
  flex-grow: 1;
  flex-basis: 200px;
  height: 100px;
  width: 100px;
  margin: 0.5em;
}
